<div class="student-form js-student-form">
  <%= form_with scope: :buyer, url: '/', class: "student-form--input" do |f| %>
    <span><%= f.text_field(:first_name, class: "student-form--text", placeholder: "First Name") %> </span> 
    <%= f.text_field(:last_name, class: "student-form--text",placeholder: "Last Name") %> 
    <%= f.label :"Campus:" %>
    <%= f.collection_select(:school_id, School.all, :id, :name) %>
    <%= f.label :"First Day Course:" %>
    <%= f.collection_select(:course_id, Course.all, :id, :name) %>

    <%= f.submit :"Add Purchase", class: "student-form--submit js-student-form-submit" %>
  <% end %>  
</div>